#main-sections-container {
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main sidebar"
    "forecast forecast sidebar"
    "forecast forecast .";
    grid-gap: 10px;
    width: 900px;
    margin: 0 auto;
}

#current-city-weather {
    list-style-type: none;
    /* remove indentation from `ul` */
    padding-left: 0;
    line-height: 2;
}

#weather-search-header {
    border: 1px solid black;
    grid-area: header;
    background-color: teal;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}

.display {
    border: 1px solid teal;
    grid-area: main;
    background-color: lightblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.history {
    border: 1px solid red;
    grid-area: sidebar;
    margin-right: 10px;
}

#future-forecast{
    border: 1px dashed red;
    grid-area: forecast;
    /* make another grid */
    display: grid;
    grid-template-areas:
    "today tomorrow after";
    text-align: center;
    margin-left: 10px;
}

#todays-weather{
    grid-area: today;
}

#tomorrows-weather{
    grid-area: tomorrow;
}

#day-after-weather{
    grid-area: after;
}

/* same styles for all 3 lists */
.temperature-forecast{
    list-style-type: none;
    /* remove indentation from `ul` */
    padding-left: 0;
    line-height: 2;
}