/* Mobile layout */
@media (max-width: 481px) {
    #main-sections-container {
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "forecast"
        "sidebar";
        grid-gap: 10px;
        margin: 0 auto;
    }

    #user-input {
        display: grid;
        grid-template-rows: 10px 10px 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #get-weather-button:active {
        background-color: orange;
    }

    #get-weather-button {
        margin-top: 10px;
    }

    #error-message {
        color: orange;
    }

    #current-city-weather {
        list-style-type: none;
        /* remove indentation from `ul` */
        padding-left: 0;
        line-height: 2;
    }

    #weather-search-header {
        border: 1px solid black;
        grid-area: header;
        background-color: teal;
        text-align: center;
        padding-bottom: 20px;
        color: white;
        width: 95vw;
    }

    .display {
        border: 1px solid teal;
        background-color: #eee;
        grid-area: main;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 0;
        /* vw unit for viewport width */
        width: 95vw;
        list-style-type: none;
        /* em unit relative to font-size */
        line-height: 1.5em;
        height: 90px;
    }

    .history {
        border-top: 1px solid teal;
        grid-area: sidebar;
        margin-top: 450px;
        text-align: center;
        width: 95vw;
    }

    .history ul {
        padding-left: 20vw;
    }

    .history li {
        text-align: left;
        list-style-position: inside;
    }

    .history a:active {
        background-color: teal;
        color: white;
    }

    #future-forecast{
        background-color: white;
        border: 1px solid white;
        grid-area: forecast;
        /* make another grid */
        display: grid;
        grid-template-areas:
        "today"
        "tomorrow"
        "after";
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 0;
        width: 80vw;
    }

    #todays-weather{
        grid-area: today;
    }

    #tomorrows-weather{
        grid-area: tomorrow;
    }

    #day-after-weather{
        grid-area: after;
    }

    /* same styles for all 3 lists */
    .temperature-forecast{
        list-style-type: none;
        /* remove indentation from `ul` */
        padding-left: 0;
        line-height: 1.5em;
    }
}


/* //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */
@media (min-width: 480px) {
    #main-sections-container {
        /* border: 1px solid black; */
        font-family: Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-areas:
        "header header header"
        "main main sidebar"
        "forecast forecast sidebar"
        "forecast forecast .";
        grid-gap: 10px;
        max-width: 900px;
        margin: 0 auto;
    }

    #get-weather-button:active {
        background-color: orange;
    }

    #error-message {
        color: orange;
    }

    #current-city-weather {
        list-style-type: none;
        /* remove indentation from `ul` */
        padding-left: 0;
        line-height: 2;
    }

    #weather-search-header {
        border: 1px solid black;
        grid-area: header;
        background-color: teal;
        text-align: center;
        padding-bottom: 20px;
        color: white;
    }

    .display {
        border: 1px solid teal;
        background-color: #eee;
        grid-area: main;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10px;
        max-height: 120px;
        width: 650px;
        list-style-type: none;
        /* em unit relative to font-size */
        line-height: 2em;
    }

    .history {
        /* border: 1px solid red; */
        grid-area: sidebar;
    }

    .history h4 {
        margin-right: 40px;
    }

    .history p {
        margin-left: 40px;
    }

    .history a:active {
        background-color: teal;
        color: white;
    }

    #future-forecast{
        background-color: white;
        border: 1px solid white;
        grid-area: forecast;
        /* make another grid */
        display: grid;
        grid-template-areas:
        "today tomorrow after";
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 0;
    }

    #todays-weather{
        grid-area: today;
    }

    #tomorrows-weather{
        grid-area: tomorrow;
    }

    #day-after-weather{
        grid-area: after;
    }

    /* same styles for all 3 lists */
    .temperature-forecast{
        list-style-type: none;
        /* remove indentation from `ul` */
        padding-left: 0;
        line-height: 2em;
    }
}
